
<ul class="list-group">
	<li class="list-group-item"><strong>菜单列表</strong></li>
 	<a href="{% url 'mydevice' %}" class="list-group-item" id="list1"><span class="glyphicon glyphicon-th-large">我的设备</span></a>
 	<a href="{% url 'dvmanage' %}" class="list-group-item" id="list2"><span class="glyphicon glyphicon-move">设备管理</span></a>
 	<a href="" class="list-group-item" id="list3"span class="glyphicon glyphicon-wrench" >设置</span></a>
 	<a href="{% url 'logout' %}" class="list-group-item"  id="list4"><span class="glyphicon glyphicon-log-out">退出登录</span></a>
</ul>